Package: com.sykes.ucs
Name: UCS
Version: 3.0.0
Architecture: iphoneos-arm64e
Installed-Size: 1152
Depends: firmware (>= 13.0)
Maintainer: sykeswzq
Author: sykeswzq
Description: UCS - 运动数据注入工具，支持微信步数同步。
Section: utilities
Priority: optional
